
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900');

h1, h2, h3, h4, h5, h6, .price-label, .pricing table thead th, .fr-icon {
  font-family: "HelveticaBold",arial;
}



html,body{
    height:100%;
}

body {
font-family: 'Raleway', sans-serif;  width: 100%;
  height: 100%;
  overflow-x: hidden;
/*  overflow-y: scroll;*/
  background-color: #ffffff;
  /*background-image: url(/allcustomfiles/ZA-S10-BlackFriday/bg1.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 0;
  padding: 0;
  background-size: cover;
    padding-right: 0px !important;
    background-color: #fff;
}


.body2 {

/*  background-image: url(/allcustomfiles/ZA-S10-BlackFriday/overview_colors_large.jpg);
*/
}

.yousee-logo img {
    height: 51px;
}
.tv-handle {
    margin-top: -2px;
}

.fill {
    flex:1;
}
.imageHeader {
    border: 1px solid #cccccc5c;
}
.q-a-sec h2 {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    display: block;
    color: purple;
}
img.swiming {
    width: 200px;
    margin-left: 76px;
}
.bottom-img {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.overlay-left{ 
  top:0; 
  left:0; 
  right:0; 
  bottom: 0; 
  background-color: rgba(255,198,1,0.6);
  position: absolute;
}
.background_color {
    width: 100%;
    position: absolute;
    height: 100%;
    background: #fec3005e;
    top: 0;
}
img.gifs {
    margin-top: 10px;
}

.total-content{ 
  background-color: rgba(255, 255, 255, 1); 
  padding: 0px 0px 0px 0px;
  border:0px;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
  margin-bottom: 10% !important;
  margin-top: 3% !important;
}

.total-content h1{ 
  font-weight: 200; 
  margin-bottom: 5px;
}
.total-content h1 strong{ 
  font-weight: 700;
}

.top-big strong{ 
  color: #E30003; 
  background-color: #FFC400;
  font-size: 30px;
  padding: 10px 20px 5px 20px;
}

.blue-txt{
  color: #2db0ff;
}

.top-big { margin-bottom: 30px;}

/*#wrap {
    height: auto !important;
    background: #000000ad;
    position: relative;
    padding: 19px 0;
}*/
.cont-back{ 
  background-color: rgba(255,255,255,0) !important;
  display: block;
  padding: 0px 0px 0px 0px;
  color: #333333;
}

.cont-back h3{ 
  margin-bottom: 10px;
}

.bnrs {
    width: 100%;
    margin-top: 12px;
}


a {
    color: #0e76bc;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #ff6207;
}

.btn{ 
  cursor: pointer;
}

*, *::before, *::after{
  
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}


input::-webkit-input-placeholder { /* WebKit browsers */
    color:#a7a7a6 !important;
  
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#a7a7a6 !important;

}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#a7a7a6 !important;
  
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#a7a7a6 !important;
  
}


.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
  cursor: pointer;
  color: #333333;
}

.navbar-light .navbar-toggler span{
  color: #ffffff;
}

.navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
    color: #ffffff;
}
span.caert-value {
    background: #fe0400;
    padding: 0px 5px;
    position: absolute;
    top: 5px;
    border-radius: 50px;
    font-size: 12px;
    margin-left: -17px;
    color: #fff;
}

.nav-item a.nav-link{ 
font-size: .9rem;
font-weight: 600;
line-height: 1.5;
color: #ffffff;
}

.navbar-brand img{ 
  height: 70px;
}

.top-nav-collapse{ 
  background-color: rgba(0,0,0,1);
  -khtml-box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

.top-nav-collapse .navbar-brand img {
    height: 45px;
}

.custom-toggler .navbar-toggler-icon {

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}


.navbar-light .navbar-nav .active .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
color:#1db954;  
}

.navbar-light .navbar-nav .nav-link{
color:#333333;  
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.navbar-nav .btn-default{     
  background-color: #f52888;
    border-color: #f52888;
    color: #ffffff;
  border-radius: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-nav .btn-default:hover, .navbar-nav .btn-default:focus{     
  background-color: #1ed760;
    border-color: #1ed760;
    color: #ffffff;
  border-radius: 0px;
}
.unstyled{ 
  list-style: none; 
  margin-bottom: 0;
}

.blue-txt{ 
  color: #395692;
}


.cont-back p {
    font-size: 14px;
}

img.tickrtegfguygiy {
    width:134px;
}
h2.dhdg {
    font-size: 15px;
    margin-top: 13px;
    padding: 4px;
    margin-bottom: 0;
}
.cont-back p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}


.spacer-20{ 
  height: 20px;
}


.countdown{
width: 200px;
height: 52px;
display: inline-block;
padding: 10px 0 10px 0;
background-color: #000000;
border-radius: 3px;
  
}


.timer-area{ 
  margin-bottom: 0px;
  position: absolute;
  margin-left: 260px
}

.top-nav-collapse .timer-area{ 
  margin-left: 180px;
}

.timer-area h4{ 
  margin-bottom: 8px;
  margin-left: 8px;
}

.timer-area span{ 
  margin-bottom: 8px;
  margin-left: 8px;
}


.timer-area strong{ 
  font-size: 12px; 
  font-weight: bold;
}

.top-logo{ 
  display: block; 
  width: 100%;
}

.modal h1 {
  margin-bottom: 15px;
}

.modal h1.center{  
  margin:6px auto 0;
}

.modal{ 
  top:20%;
}

.modal-header img {
  height: 60px;
  margin: 15px auto 0;
}
.modal h2{ color: #ed1c24;}

.btn-primary{ 
  background-color: #333333;
  border-color: #333333;
  line-height: 2;
  border-radius: 0px;
}
.modal-content{ border:3px solid #cd2e28; border-radius: 0;}

.modal .btn-primary{ 
  line-height: 1;
  background-color: #d6080a;
  border-color: #d6080a;
  color: #ffffff !important;
  border-radius: 0;
}

.modal .btn-primary:hover{ 
  background-color: #fde50a; 
  border-color: #000;
}

.modal-header{ 
  padding-bottom: 0; 
  border-bottom: 0;
}
.modal-footer{ 
  border-top: 0; 
  padding-top: 0px;
  padding-bottom: 20px;
}
label.form-control:hover {
    background: #0078c3a1 !important;
}

button.btns01222:hover {
    background: #0078c3a1 !important;
}

.grn-color {
  color: #80C342;
}
.red-color {
  color:#000;
}

.modal-footer .btn{ 
  margin: 0 auto;
  padding: 13px 30px 10px 30px;
    font-size: 20px;
}

.modal p{ 
  margin-bottom: 3px;
  color: #222222;
}

.modal p.top{
  padding: 10px 20px;
  font-size: .9rem;
}


.modal h3{
  margin-bottom: 8px;
}

.modal-backdrop{
  background-color: #ffffff;
  
}

.max{ 
  font-size: 1.8rem;
}

.inner-i-logo{ 
  height: 60px;
}


.congrats-area p, .congrats-area h3{ 
  margin-bottom: 10px;
}

.congrats-area h2{ 
  margin: 20px 0;
}


.btn-primary { 
  color:#ffffff !important; 
  font-weight: bold;
}

.congrats-area button.btn-primary, .congrats-area a.btn-primary {
    background-color: #3eb84d;
    border-color: #3eb84d;
    line-height: 1.8;
    color: #ffffff !important;
    border-radius: 0px;
    padding: 5px 0 9px;
    margin-bottom: 28px;
    height: auto;
    font-size: 18px;
}

.congrats-area button.btn-primary:hover, .congrats-area a.btn-primary:hover, .congrats-area a.btn-primary:focus{
background-color: #fde50a;
border-color: #000;
color: #ffffff !important;

}

.logo-type{ 
height: 120px;
margin: 10px;
}

footer{  
  display: block; 
  text-align: center;
  padding: 0;
}

.footer-dark{ background-color: rgba(0,0,0,0.8); 
  display: block;
  padding:20px 0;
  color: #ffffff;
  font-weight: bold;
  position: fixed;
  left:0;
  right:0;
}

.footer-wht{ background-color: rgba(255,255,255,0.9); 
  display: block;
    padding:20px 0;
  position: fixed;
  left:0;
  right:0;
}

.final-item{ 
  height: 170px;
}

.spacer-20{ 
  height: 20px;
}

.fixed-btn{ 
  min-width: 100px; 
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 2500ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}


.answer-sec button {
border: none;
color: #ffffff;
text-align: center;
padding: 13px 10px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
line-height: 1;
border-radius: 0px;
font-weight: bold;
}

.answer-sec button:hover {
  color: #ffffff;
}
.text-bx-size input {
    margin-bottom: 8px;
    height: 42px;
}
.answer-sec button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.answer-sec button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.answer-sec button:hover span {
  padding-right: 25px;
}

.answer-sec button:hover span:after {
  opacity: 1;
  right: 0;
}


.foot {
    bottom: 0px;
}

.slide-up
{
    bottom: 0px !important;
}

.slide-down
{
    bottom: -100px !important;
}


ul.tickstyled {
  list-style: none;
  padding-left: 2px;
  font-weight: 300;
  
}

ul.tickstyled li {
  padding-left: 0rem;
  margin-bottom:20px;
  font-size:24px;
  color: #000;
  font-weight: 600;
}
img.tickrtegfguygiy1 {
    width: 200px !important;
}
ul.tickstyled li i{
  font-size: 2rem;
  color: #e5b201;
}

ul.tickstyled li:before {
 background-image: url(/allcustomfiles/ZA-S10-BlackFriday/tick-round.png);
  display: inline-block;
  margin-left: -2.3em; / same as padding-left set on li /
  width: 20px; / same as padding-left set on li /
  color: #0672cf;
  width: 40px;
}


.progress{ 
height:3px;
margin-right: 0px;
margin-bottom: 25px;
}

.progress-bar {
    background-color: #fe0400;
}

ul#result {padding-left: 10px; text-align: center;}

ul#result li i{ 
  color:green; 
  padding-right: 15px;
  font-size: 20px;
}

.cont-back h3 span{ 
  padding: 10px 15px; 
  background-color: #000000; 
  color: #1ed760; 
  display: inline-block;
  border-radius: 0px;
}

.note-text{ 
  margin-bottom: 10px; 
  font-size: 1rem; 
}

.q-a-sec{ 
  padding-top: 0px; 
  border-top: 0px solid #333333; 
  margin: 0px 5px 0px 5px;
}

.no-border{ border-top: 0px;; }

.border-no{ border-top: 0px;}

.last-cont h2{ font-size:2.4rem;}

.last-cont hr {
  margin-top: 15px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(0,0,0,.5);
}

.green-text{ 
  color:#00abe9;
}
div#act-five h1 {
    margin-bottom: 0px;
    color: #000;
}

.video-container{ 
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
position: fixed;

width: 100%;
height: 100%;
top: 0;
bottom: 0;
left: 0;
right: 0;
}




.video-container video{ 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url(polina.jpg) no-repeat;
      background-size: cover;
  }

.icon-img{ 
height: 70px;
margin-bottom: 10px;
}

#top-cont, #top-cont h1 { 
  color:#333333; 
}

.yousee-logo {
    border-bottom: 2px solid #3eb94c;
    margin-bottom: 10px;
    border-top: 2px solid #3eb94c;
}

#top-cont, #top-cont h1 {
    color: #000;
    font-size: 39px;
    margin: 7px 0;
}
#top-cont p { 
  color:#000;
  font-size:14px;
}

#para1{ color: rgba(220,0,3,1.00);}

.pro-img{ margin: 0 0px 30px 0px;}

#top-cont {
    background-color: rgba(255,255,255,0);
    border-radius: 0px;

}


.cont-back h4 {
    margin: 0;
}
img.fish {
    float: right;
    margin-top: 0;
    width: 167px;
    opacity: 0.6;
}
.bnrs img {
    width: 100%;
}

.timers_box2.clearfix {
    width: 100%;
    background: #2c2b2b;
    height: 52px;
}

.coders100 p {
    color: #fff;
   
}
.coders100 {
    padding-left: 18px;
    padding-top: 9px;
}
.coders1 p {
    color: #fff;
    padding-top: 5px;
    text-align: right;
    font-size: 17px;
    margin-right: 21px;
}
.video-boxs1 .row {
    display: inherit;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.radio-group input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
.radio-group label {
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff !important;
    display: inline-block;
    height: auto;
    white-space: normal;
    max-width: 420px;
    margin: 0px auto 10px;
    width: 100%;
    background-color: rgb(0, 120, 196);
    font-size: 20px;
    font-weight: 700;
    border-radius: 45px;
    padding: 15px 0px;
}
.video-boxs1 {
    width: 100%;
}
.video-boxs1 .row {
    padding: 18px 0;
    margin: 0;
}
span.srch-text {
    position: relative;
    top: 6px;
}


h2.red-color {
    background: transparent !important;
    color: #000 !important;
    font-size: 17px !important;
}


.radio-group input[type=radio].radio-check + label, .radio-group label:hover{
  color: #ffffff;
    background-color: #fde50a; 
  border-color: #fff;
}

.radio-group label + input[type=radio] + label {
  border: 1px solid #333333;
}
.radio-group {
   border: 0px;
  display: inline-block;
  margin: 0px;
  width: 100%;
  overflow: hidden;
}

.radio-group .form-control{   
  border-color: rgba(0,0,0,1);
}


.pro-img.text-center ul li img {
    width: 199px;
}
.pro-img.text-center ul li:first-child img {
    width: 200px;
}
.pro-img.text-center ul li {
    display: inline-block;
}
.pro-img.text-center ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.live-tv {
    width: 100%;
    height: 340px;
    border: 21px solid #000;
}

.tv-handle img {
    width: 70%;
}

.h-100 {
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.banner-top-box img {
    width: 100%;
}


/*slider start*/


.pic-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

.figurecaption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}
button.btns01222 {
    text-shadow: 0 1px 0 #FFF790;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff !important;
    display: inline-block;
    height: auto;
    white-space: normal;
    max-width: 420px;
    margin: 0px auto 10px;
    width: 100%;
    background-color: rgb(0, 120, 196);
    font-size: 20px;
    font-weight: 700;
    border-radius: 45px;
    padding: 15px 50px;
}

.full_body_bgcolor {
    position: absolute;
    top: 0;
    background: #000000c4;
    height: 100%;
    width: 100%;
}
div#view-page {
    position: relative;
    z-index: 99;
}
.img.gifs {
    width: 62px;
    margin-top: 10px;
}
div#act-five {
    margin-top: -22px;
}


/*end*/



.full-background-colors {
    width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:#000000c4;
}

p.clime {
    color: #000 !important;
    font-size: 12px !important;
}
span#count_down {
    color: #fff;
}


/*down arrow code*/


.arrow {
  text-align: center;
  margin: 6px 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

a.fa.fa-arrow-down.fa-2x {
    color: #ff6207;
}

a.fa.fa-arrow-down.fa-2x {
    color: #ff6207;
    font-size: 16px;
}


.dk-cinema-with {
    width: 500px;
    margin: 41px auto;
    background: #fff;
    padding-top: 26px;
}

p.resewrved-text {
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: 700;
}
h5.texttop2 {
    color: #2fa91f;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    margin-top: 24px;
}

h1.big-heading {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.cont-back p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #2fa91f;
    text-align: center;
}

img.tickrtegfguygiy {
    width: 400px;
}
.cont-back {
    text-align: center;
}
img.last-ticket-image {
    width: 246px;
}
p.time-zone-text {
    margin-top: 8px;
    font-size: 15px;
}


button.btn.btn-primary.form-control.last-btns012 {
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff !important;
    display: inline-block;
    height: auto;
    white-space: normal;
    max-width: 420px;
    margin: 0px auto 10px;
    width: 100%;
    background-color: rgb(0, 120, 196);
    font-size: 20px;
    font-weight: 700;
    border-radius: 45px;
    padding: 15px 50px;
}
button.btn.btn-primary.form-control.last-btns012:hover {
    background: #000;
}

.text-bx-size {
    margin-bottom: 17px;
}
.fsfd {
    width: 47px !important;
    padding: 32px 0 0;
}

.frst-div-parts {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    z-index: 999;
}
.headers {
    background: rgba(45,45,45,0.98);
    padding: 8px 0px;
}

img.logo1 {
    width: 24px;
}


.headers ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.headers ul li {
    display: inline-block;
    padding: 0 38px;
    font-weight: 200;
    font-size: 14px;
    color: #fff;
}
li.mac {
    color: #b1aaaa !important;
}

.mackbook-box2 h1 {
    font-size: 80px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.025em;
    margin-bottom: 0;
    color: #fff;
}
.servay-box {
    width: 100%;
    margin-top: 40px;
}
.mackbook-box2 h4 {
    font-size: 40px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: .004em;
    color: #fff;
}
.mobile-text {
    width: 100%;
    margin-top: 57px;
    padding: 0px 41px;
}

.timers {
    width: 100%;
    height: 50px;
    background: #86418b;
}
.left-code p {
    color: #fff;
    font-size: 19px;
    float: left;
    margin-left: 13px;
    padding-top: 10px;
}
.mackbook-box2 {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

.header-partsd {
    text-align: center;
    margin-top: 0;
    background: #ff0400;
}

.header-partsd img {
    width: 164px;
}
.all-controll-box {
    width: 60%;
    margin: auto;
}

img.shadow {
    position: fixed;
    left: 0;
    right: 0;
    /* margin-top: 5066px; */
    width: 331px;
    margin: 283px auto 0;
}
img.mackbook-img {
    position: relative;
    z-index: 9999;
}
.header-partsd p {
    font-size: 30px;
    color: #fff;
}
.mobile-text h2 {
    color: #fff;
}
.mobile-text p {
    color: #fff;
}
img.mackbook-img{

  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {margin-top:0px;}
  25%  {margin-top:14px;}
  50%  {margin-top:18px;}
  75%  {margin-top:14px;}
  100% {margin-top:10px;}
}

/* Standard syntax */
@keyframes example {
 0%   {margin-top:0px;}
  25%  {margin-top:14px;}
  50%  {margin-top:18px;}
  75%  {margin-top:14px;}
  100% {margin-top:10px;}
}

.img_height {
    height: 350px;
    overflow: hidden;
}

button.click_box {
  padding: 15px 105px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #393939;
    border: none;
    border-radius: 15px;
}

button.click_box:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.six-fulls {
    width: 100%;
    /* background: #fff; */
    /* margin: 30px auto; */
    /* padding-bottom: 26px; */
}

/*.mackbook_part12 {
    position: absolute;
    top: 0;
    height: 100%;
    background: #00000096;
    width: 100%;
    padding-top: 168px;
}
*/

img.close_system {
    width: 100%;
}

.loading-tx{
  width: 100%;
  text-align: center;
}

.video-boxs {
    width: 100%;
    background: #000;
}
.white-header2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.white-header2 ul li {
    display: inline-block;
    color: #fff;
    margin: 0 13px;
    font-weight: 600;
    font-size: 18px;
}


.white-header2 ul li img {
    width: 22px;
}
.white-header2 {
    width: 100%;
    margin-top: 19px;
    text-align: right;
}

.footer-box {
    width: 100%;
    background: #333;
    padding-top: 18px;
    text-align: center;
}

.footer-box p{
   color: #fff;
   font-weight: 700;

}
img.ssl {
    width: 70px;
}

span.one-no {
    background: #ef1e2a;
    padding: 0px 7px;
    position: absolute;
    top: 5px;
    border-radius: 46px;
    font-size: 16px;
    margin-left: -17px;
}
.navigation-parts {
    width: 82px;
    border-right: 1px solid #b9b1b1;
    height: 84px;
    margin-left: 19px;
    padding: 15px 0;
    text-align: center;
}
.navigation-parts p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #8e8787;
}
li.shopping-shopping {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 128px;
    height: 105px;
    vertical-align: top;
    margin-top: -3px;
    box-shadow: 6px 0 6px -2px rgba(0,0,0,.25), -6px 0 6px -2px rgba(0,0,0,.25);
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    border: 1px solid #dcb53f;
    text-align: center;
    padding: 15px;
    background-image: -webkit-linear-gradient(top,#fff58e,#ffb900);
    background-image: linear-gradient(to bottom,#fff58e,#ffb900);
    background-color: #ffd747;
}

span.one-no2 {
    background: #000;
    padding: 0px 7px;
    position: absolute;
    top: 5px;
    border-radius: 46px;
    font-size: 16px;
    margin-left: -17px;
}
.logog-box2 ul li {
    display: inline-block;
    margin: 0 12px;
    font-weight: 600;
    font-size: 16px;
}
.location-parts ul {
    margin: 0;
    list-style: none;
    float: right;
}
.location-parts ul li {
    width: 112px;
    border-right: 1px solid #00000042;
    height: 81px;
    border-left: 1px solid #00000042;
    padding: 19px 13px;
    text-align: center;
    float: left;
    margin: 0 0px;
}
img.dn_arrow {
    width: 12px !important;
    opacity: 0.6;
    position: relative;
    top: 5px;
    left: 12px;
}

.location-parts ul li img {
    width: 26px;
    font-weight: 900;
}

.logog-box2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.logog-box {
    margin-top: 5px;
}

.logog-box2 {
    width: 100%;
}
.logog-box2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logog-box3 p {
    margin: 0;
}

.sc-header014 .col-md-7 {
    padding-right: 0;
}
img.header-imges {
    width: 100%;
}

.logog-box3 ul {
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
    float: right;
}
span.caret {
    color: red;
}
.logog-box3 {
    margin-top: 54px;
}

.logog-box3 ul li {
    border: 1px solid #000;
    padding: 6px 10px 5px;
    float: left;
}

span.srch-text {
    float: left;
    font-weight: 900;
    font-size: 23px;
}

input.serch-box {
    width: 68%;
    margin-left: 13px;
    border: 1px solid #000000;
    padding: 6px 0;
    padding-left: 12px;
    font-size: 15px;
}
i.fa.fa-shopping-cart {
    font-size: 25px;
    margin-top: 27px;
}


.mobile{
  display: none;
}

.six-fulls.clearfix h2 {
    color: #000;
    font-size: 24px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: 800;
}
img.serch-image {
    position: relative;
    left: -32px;
    width: 15px;
    float: right;
    top: 7px;
}
.sc-header014 {
    width: 100%;
    background: #ffd500;
}
.sc-header014 .row {
    display: inherit;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

img.gif-iamges {
    width: 100%;
}

.blackheqader {
    width: 100%;
    background: #fff;
}

.text2 ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.text2 ul li{
  display: inline-block;
}
img.djkldudjqdhio {
    width: 242px;
}


.text2 {
    width: 100%;
    margin-top:15px;
    opacity: 0.6;
    text-align: center;
}
.text2 ul li img {
    margin-left: 10px;
    margin-right: 10px;
    width: 21px;
}

.text1 p {
    margin-top: 16px;
}

.blackheqader h2 {
    font-weight: 600;
    color: #4351c5;
    margin: 3px 0 0;
    font-size: 40px;
}
.blackheqader .container {
    width: 100%;
    padding: 7px 36px;
}
img.nrms {
    float: right;
}

.fuulbnr {
    width: 100%;
    padding: 12px 0;
    width: 100%;
    margin-top: 0;
    padding-top:0px;
    /* min-height: 100vh; */
    /* background-image: url(bgsamsungnew.jpg); */
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background: #f2f2f2;
}

.fuulbnr.clearfix img {
    width: 100%;
}
.center-text {
    text-align: center;
}
h4.h4h4 {
    color: #000;
    font-size: 40px;
    margin-top: 46px;
}
p.ppp {
    color: #000;
    font-size: 21px;
}

img.fswfww {
    position: absolute;
    top: -27px;
    width: 180px !important;
    right: 0;
}

.price-tag {
    /* display: table; */
    margin: auto;
    color: #fff;
    padding: 20px;
    background: #0073c1;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    /* border-bottom-left-radius: 0; */
    width: 210px;
    height: 210px;
    /* border: 10px solid #fff; */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    /* transform: translateY(-50%); */
    z-index: 1;
    margin: auto;
}
.price-tag p {
    display: block;
    font-size: 32px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 1px;
}
.price-tag strong {
    display: block;
    vertical-align: middle;
    text-align: center;
    font-size: 41px;
    line-height: 1;
}
span.norsz {
    font-size: 26px;
}
span.bg-txs {
    font-size: 37px;
    margin: 0 1px 0 7px;
}
span.priceCut {
    font-size: 30px;
}
.white_boxs {
    width: 100%;
    padding-top: 63px;
    text-align: center;
}
.white_boxs h2 {
    font-size: 46px;
}
.white_boxs p {
    font-size: 24px;
    padding-bottom: 30px;
}

img.logopic {
    width: 181px;
}
.blackheqader p {
    float: right;
}
i.fa.fa-cart-arrow-down {
    font-size: 24px;
    margin-top: 22px;
}
.offersl {
    width: 100%;
    background: #fe8656;
}




















@media screen and (min-width: 2200px) and (max-width: 5000px){
  .footer-box{
    position: fixed;
    bottom: 0;
  }
}


@media screen and (max-width: 1650px){
  .logog-box2 ul li {
    margin: 0 5px;
    font-size: 14px;
}
.location-parts ul li {
    width: 105px;
  
}
}


@media screen and (max-width: 1450px){
  .logog-box2 ul li {
    margin: 0 5px;
    font-size: 14px;
}
.location-parts ul li {
    width: 105px;
  
}
li.shopping-shopping {
    width: 104px;
    height: 92px;
    }
    .location-parts ul li {
    width: 92px;
}
.location-parts ul li img {
    width: 27px;
    font-weight: 900;
}
}

@media screen and (max-width: 1450px){
.logog-box2 ul li {
    margin: 0 3px;
    font-size: 12px;
}
li.shopping-shopping {
    width: 103px;
    height: 86px;
}
.location-parts ul li {
    width: 78px;
}
.location-parts ul li img {
    width: 19px;
    font-weight: 900;
}
.location-parts ul li {
    padding: 22px 13px;
}
.location-parts 
p{
  font-size: 12px;
}

}

@media screen and (max-width: 1280px){
  .location-parts ul li img {
    width: 14px;
}
img.dn_arrow{
  width: 7PX;
}
.blackheqader h2 {
    font-size: 26px;
}
}

@media screen and (max-width: 1199px){
  .headers ul li {
    padding: 0 24px;
}
.logog-box2 {
    width: 86%;
}
input.serch-box {
    width: 61%;
}
img.serch-image {
    position: relative;
    right: 19px;
    width: 15px;
    float: right;
    top: -23px;
}
.logog-box2 ul li:first-child {
    display: block;
}

.logog-box2 ul li {
    display: none;
}
.location-parts ul li {
    width: 80px;
}
.location-parts ul li:last-child {
    display: none;
}
.location-parts ul li img {
    width: 18px;
}
.location-parts p {
    font-size: 12px;
}
}


@media screen and (max-width: 991px){
  .headers ul li {
    padding: 0 13px;
}
.white-header2 ul li {
    margin: 0 9px;
    font-size: 14px;
}
.logog-box2 {
    width: 80%;
}
input.serch-box {
    width: 44%;
    font-size: 11px;
    padding: 10px 8px;
}
img.logo9 {
    width: 100%;
}
button.btn.btn-primary.form-control.last-btns012 {
    margin-bottom: 36px;
}
.location-parts {
    display: none;
}
img.logo9 {
    width: auto;
}
.fuulbnr.clearfix img {
    width: 300px;
}
.fuulbnr.clearfix .col-md-5 {
    text-align: center;
}

.price-tag p {
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 1px;
}
span.bg-txs {
    font-size: 39px;
    margin: 0 1px 0 7px;
}
span.priceCut {
    font-size: 16px;
}
.price-tag {

    width: 161px;
    height: 159px;

}
}



@media (min-width: 20px) and (max-width: 992px) {

  .navbar-light.fixed-top{ 
  background-color: rgba(0,0,0,1);
  -khtml-box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  }
  
  .navbar-light.fixed-top.top-nav-collapse{ 
    background-color: rgba(0,0,0,1);
  }
  
  .navbar-brand img {
    height: 30px;
}
  
  .top-nav-collapse .navbar-brand img {
    height: 28px;
}
  
  ul.navbar-nav{ 
    margin-top: 6px;
  }
  
  
  ul.navbar-nav .nav-item .btn{ 
    display: block;
    margin-top: 6px;
  }
  
  .navbar-light .navbar-nav .active .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
        color:#0e76bc;
    background-color: #f2f9fd;
    }
  
  .navbar-nav .btn-default{     
  width: 100%;
  }
  
  
  .countdown {
    width: 200px;
    height: 48px;
    background-color: transparent;
    border-color:  transparent;
}
  
  .timer-area{ margin-left: 100px;
  margin-top: -4px;
  }
  
  .top-nav-collapse .timer-area{
    margin-left: 100px;
    margin-top: -4px;
  }
  
/*.total-content{ 
  padding: 35px 30px 0px 30px;
}
*/


ul.tickstyled li i {
    font-size: 1.3rem;
}
  
ul#result li i {
    padding-right: 6px;
}
  .live-tv {
    width: 100%;
    height: 176px;
    border: 10px solid #000;
}
.tv-handle img {
    width: 100%;
    margin-top: -10px;
}

}




@media screen and (max-width: 630px){
  .six-fulls{
    width: 95%;
  }
  .logog-box2 {
    width: 89%;
    margin-top: 0;
}
}



@media (min-width: 20px) and (max-width: 767px) { 
  
.logog-box {
    text-align: center;
}
.col-md-1.col-sm-2 {
    display: none;
}
img.logo9 {
    width: auto;
}
.note-text {
    font-size: .9rem;
}
  
.white-header2 {
    display: none;
}
.timers_box2.clearfix {
    height: auto;
}
.timers_box2.clearfix {
    height: auto;
    text-align: center;
}
.coders1 p {
    color: #fff;
    padding-top: 0;
    text-align: center;
    font-size: 17px;
    margin-right: 0;
}
.live-tv {
    width: 100%;
    height: 239px;
    border: 10px solid #000;
}

.tv-handle img {
    width: 100%;
    margin-top: 0px;
}
span.priceCut {
    font-size: 16px;
}

.img_height {
    height: auto;
    overflow: hidden;
}

.mackbook-box2 h1 {
    font-size: 40px;
  }
  .mackbook-box2 h4 {
    font-size: 27px;
}
.desktop{
  display: none;
}
.mobile{
  display: block;
}
ul.mobile li {
    /* margin-left: 0; */
    /* margin-right: 40%; */
    width: 48%;
}
ul.mobile li:last-child {
    text-align: right;
}
.logog-box2 {
    width: 89%;
}

.blackheqader h2 {

    font-size: 19px;
}

input.serch-box {
    width: 68%;
    font-size: 11px;
    padding: 10px 8px;
}

}



@media (min-width: 20px) and (max-width: 575px) {
  
.modal-footer .btn {
   font-size: .9rem;
}
  
body.modal-open{
display: block;
padding-right: 5px !important;
}
  
.inner-i-logo{ 
  height: 55px;
  }
  
.main-container {
    margin:3% 4%;
}

.total-content {
    padding: 4px;
}
div#view-page {
    position: relative;
    z-index: 99;
    padding: 0;
    margin: 0;
}
.blackheqader h2 {
    font-size: 24px;
}

button.btns01222 {
    text-shadow: 0 1px 0 #FFF790;
    height: auto;
    display: block;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
    white-space: normal;
    text-decoration: none;
    padding: 15px 0px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 100%;
    margin: 1px auto;
    font-weight: 400;
    color: #fff !important;
}
.blackheqader h2 {
    font-size: 16px;
}
.blackheqader .container {
    width: 100%;
    padding: 7px 1px;
}
}


@media (min-width: 20px) and (max-width: 425px) { 
  
img.last-ticket-image {
    width: 100%;
}
  
    .timer-area{ margin-left: 69px;
  margin-top: -4px;
  }
  
  .top-nav-collapse .timer-area{
    margin-left: 69px;
margin-top: -4px;
  }
  
  .max {
    font-size: 1.3rem;
}
  
  ul.tickstyled li {
  font-size: 16px;
}
  
  #top-cont{ 

  margin-left: 0px;
}

  .live-tv {
    width: 100%;
    height: 165px;
    border: 10px solid #000;
}
.tv-handle img {
    width: 100%;
    margin-top: -8px;
}
img.tickrtegfguygiy {
    width: 100%;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.video-boxs1 .col-md-8 {
    padding: 0;
}

}

